.Login{
    position:relative;
}
.login-head{
    height:1.6rem;
    background: linear-gradient(left,#F65643, #FA6445);;
}
.login-head .ifont{
    font-size:.48rem;
    line-height: .6rem;
    color: rgba(255,255,255,.8);
    margin-left:.2rem;
    display:inline-block;
}
.welcome{
    position: absolute;
    text-align: right;
    font-family: "微软雅黑";
    color: #fff;
    right:.3rem;
    top:.2rem;
    font-size:.48rem;
    line-height: .6rem;
}
.login-wrap{

}
.login-wrap .login-logo{
    margin:.5rem auto;
    text-align: center;
    background: #ef2434;
    color:#fff;
    width:.96rem;
    height:.96rem;
    font:.64rem/.96rem "白舟印相体";
    border-radius: .2rem;
}
.login-wrap .login-form{
    box-sizing: border-box;
    padding:0 .64rem;
}
.form-list{

}
.login-input {
    width: 100%;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #ff00ff;
    height: .96rem;
    margin-bottom: .32rem;
}
.login-input .input-font{
    font-size:.3rem;
    line-height: .96rem;
    color: red;

    display:inline-block;
    position: absolute;
    left:.2rem;
}
.login-input .input-item{
    height: .96rem;
    width: 100%;
    border:none;
    font-size: .3rem;
    padding:0 .8rem;
    box-sizing: border-box;
    position: relative;
}
.login-input .eye-icon{
    position: absolute;
    right: .2rem;
    top:0;
    font-size:.3rem;
    line-height: .96rem;
    color: red;
}

.login-user{
    display: flex;
    justify-content: space-around;
    font-size:.24rem;
    line-height: .3rem;
}
.login-start{
    height:.96rem;


    margin: .32rem 0;

}
.login-start-button{
    height:.96rem;
    font:.64rem/96rem "微软雅黑 Light";
    width:100%;
    border-radius: .48rem;
    background: #F65643;
    color: #fff;
    display: block;
    cursor: pointer;
}
